* {
    box-sizing: border-box;
  }
  body {
    padding: 0;
    
  }
  .container {
    position: relative;
    width: 400px;
    height: 300px;
    background:#E3516E ;

  }
.round1 {
    position: absolute;
 width: 100px;
 aspect-ratio: 1 / 1;
 background: #F7F3D7;
 border-top-left-radius:100%;
 rotate: 270deg;
 left: 100px;
 top: 150px;

}
.round2 {
    position: absolute;
    width: 100px;
    aspect-ratio: 1 / 1;
    background: #51B5A9;
    border-top-left-radius:100%;
    left: 100px;
    top: 50px;
}
.round3 {
    position: absolute;
    width: 100px;
    aspect-ratio: 1 / 1;
    background:#FADE8B;
    border-top-left-radius:100%;
    rotate: 90deg;
    left: 200px;
    top: 50px;
}