* {
    box-sizing: border-box;
}
body {
    padding: 0;
   
}
.container {
     width: 400px;
    height: 300px;
    border: 1px solid black;
    background: #5d3a3a;
}
.cube {
    width: 200px;
    height: 200px;
    background: #b5e0ba;
}